body {
    font-size: 15pt;
}

#circult {
    cursor: pointer;
    user-select: none;
    text-align: center;
}

#ecg {
    width: 100%;
    height: 200px;
    background: lightpink;
    cursor: pointer;
    user-select: none;
}
#ecg:hover {
    background: lightblue;
}